.badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.badge__notification {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-bottom: 15px;
}

.badge__phone {
  background-color: white;
  border: 2px solid tomato;
  color: tomato;
  font-weight: 600;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: 5px;
}
